h1 {
    color: blue;
}

.firstcarousel img {
    width: auto;
    height: 450px;
    max-height: 500px;
}

@media only screen and (max-width: 992px) {
    iframe {
        padding-right: 10vw;
        width: 80%;
    }
    .firstcarousel img {
        object-fit: cover
    }
}

@media only screen and (max-width: 768px) {
    .youtube iframe {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .firstcarousel img {
        width: auto;
        height: 450px;
        max-height: 500px;
        object-fit: cover
    }
}
