.bg-biru{
    background-color: #87d9e3;
    width: 100%;
    height: 550px;

}

.kotak {
    height: 350px;
    border-radius: 50px;
    background: url(../img/cekot.png) no-repeat;
    background-size: cover;
}


.overl{
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}


.kotak:hover .overl{
    background: rgba(0, 0, 0, .3);
    opacity: 1;
}

.btn{
    transition: opacity .35s ease;
}

.kotak:hover .btn{
    opacity: 1;
}